services:
 - docker

env:
  global:
    - version=0.1.0

jobs:
 include:
  - stage: build and push docker.java for master
    if: branch = master
    script:
     - docker build -t klibio/io.klib.docker.java:alpine.$version -t klibio/io.klib.docker.java:alpine.latest --file ./Dockerfile-alpine.txt . 
     - docker images ls -a
     - docker login -u $DCKUSR -p $DCKPW
     - docker push klibio/io.klib.docker.java:alpine.$version
     - docker push klibio/io.klib.docker.java:alpine.latest
     - docker build -t klibio/io.klib.docker.java:adoptopenjdk.$version -t klibio/io.klib.docker.java:adoptopenjdk.latest --file ./Dockerfile-adoptopenjdk.txt . 
     - docker push klibio/io.klib.docker.java:adoptopenjdk.$version
     - docker push klibio/io.klib.docker.java:adoptopenjdk.latest     
  - stage: build and push docker.java for develop
    if: branch = develop
    script:
     - docker build -t klibio/io.klib.docker.java:$TRAVIS_BRANCH_alpine.$version --file ./Dockerfile-alpine.txt . 
     - docker images ls -a
     - docker login -u $DCKUSR -p $DCKPW
     - docker push klibio/io.klib.docker.java:$TRAVIS_BRANCH_alpine.$version
     - docker tag klibio/io.klib.docker.java:$TRAVIS_BRANCH_alpine.$version klibio/io.klib.docker.java:$TRAVIS_BRANCH_alpine.latest
     - docker push klibio/io.klib.docker.java:$TRAVIS_BRANCH_alpine.latest
     - docker build -t klibio/io.klib.docker.java:$TRAVIS_BRANCH_adoptopenjdk.$version -t klibio/io.klib.docker.java:$TRAVIS_BRANCH_adoptopenjdk.latest --file ./Dockerfile-adoptopenjdk.txt . 
     - docker push klibio/io.klib.docker.java:$TRAVIS_BRANCH_adoptopenjdk.$version
     - docker push klibio/io.klib.docker.java:$TRAVIS_BRANCH_adoptopenjdk.latest